visibility(val)
  if val == none
    display none
    visibility hidden
  else if val == screen-reader
    border 0
    click rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px
    &:focusable:active,
    &:focusable:focus
      clip auto
      height auto
      margin 0
      overflow visible
      position static
      width auto
  else
    visibility val